[2016-03-25 22:00] chrislopresto opened #10 "Create README"
Create a README with basic usage instructions to hold folks over until we have a proper documentation site.

Relevant PRs:
- https://github.com/chrislopresto/ember-freestyle/pull/41

[2016-03-25 22:01] chrislopresto opened #11 "Warn if duplicate freestyle-usage slugs are detected"
The `freestyle-usage` component registers code snippets using its `slug` property as a key. As such, slugs should be globally unique. As such, Freestyle should warn when duplicate slugs are detected.

[2016-03-26 03:00] chrislopresto opened #12 "Menu not generated properly when page initially loaded for a specific section or subsection"

[2016-03-27 19:35] chrislopresto opened #13 "Extract code highlighting into separate plugin addon"
So as to make the highlight.js dependency optional

[2016-03-27 19:37] chrislopresto opened #14 "Extract markdown support into separate plugin addon"
So as to make remarkable dependency optional

[2016-03-27 19:42] chrislopresto opened #15 "Support Non-SCSS"

[2016-03-27 19:43] chrislopresto opened #16 "Add Tests"

[2016-03-27 19:45] chrislopresto opened #17 "Create a Logo"

[2016-03-27 19:50] chrislopresto opened #18 "Blueprint for scaffolding on ember install"
- route
- controller
- template
- SCSS

[2016-03-29 22:36] flexyford commented on #10
Excited for this README. Congrats on the great Ember-Conf talk this year :smile:

[2016-03-29 23:20] knownasilya commented on #10
Yeah, trying to use this an an app, but totally not sure where to define the styleguide items, since there is no dummy app in a normal app.

[2016-03-29 23:30] knownasilya commented on #10
For anyone wanting to jump in, see the dummy app in this repo, i.e. https://github.com/chrislopresto/ember-freestyle/blob/master/tests/dummy/app/templates/application.hbs

[2016-03-30 18:00] chrislopresto commented on #10
@knownasilya Thanks for writing this up. The dummy app is definitely the best way to copy/paste/get going. I'll start writing up better instructions today.

As for the json files, that is a separate spike to hydrate both JS and SCSS from a common JSON config file. I really like the idea, and it backs the current implementation of the `freestyle-color-palette` component. But I think I'll end up ext

[2016-03-30 18:31] knownasilya commented on #10
Yes please! The biggest hassle has been that and the SASS.

[2016-03-30 18:43] chrislopresto commented on #10
Yes. The sass extract is top priority. https://github.com/chrislopresto/ember-freestyle/issues/15

[2016-04-02 19:26] oligriffiths opened #20 "The Broccoli Plugin: [BroccoliMergeTrees] failed with:"
Hey

I know this is WIP but I wonder if you could help me with the following error I get after running `ember serve` after installing the addon:

[code]

package.json:
[code]
bower.json:
[code]

Thanks

[2016-04-02 19:50] oligriffiths commented on #20
Seems as though the problem is with `broccoli-sass`

[2016-04-05 20:43] jakehow commented on #20
@oligriffiths for now you need to do `rm node_modules/ember-freestyle/app/styles/app.scss`

There are a couple of other projects that have dealt with this, some remove it in a pre-publish script.

[2016-04-07 13:04] knownasilya commented on #15
How can I help?

[2016-04-07 18:00] chrislopresto opened #21 "Remove mappy-bp dependency"
Replace with vanilla CSS media queries, at least for the time being

[2016-04-07 20:14] chrislopresto opened #23 "Remove JSON importer experiment"
- [x] Remove node-sass-json-importer dependency
- [x] Remove JSON SCSS partial usage
- [x] Get back on node-sass release

[2016-04-07 22:49] #21 closed

[2016-04-07 23:00] #23 closed

[2016-04-07 23:54] #18 closed

[2016-04-08 16:31] chrislopresto opened #27 "Provide default Ember Freestyle color palette as overridable SCSS variables"

[2016-04-08 16:55] #27 closed

[2016-04-11 16:35] chrislopresto commented on #15
@knownasilya I'm starting to chat with some folks about the best approach. I want to find a way to provide styles that are overridable by parent apps regardless of preprocessor (`LESS` | `SCSS` | `PostCSS`). Any thoughts are welcome, as all styled addons face this problem.

There's some general Ember CSS chatter that will hopefully turn into one or more RFCs. I'm open to simpler ideas in the inter

[2016-04-12 19:47] zethussuen commented on #17
Willing to lend a hand with this. Do you have any ideas/imagery around the branding yet?

[2016-04-13 03:18] chrislopresto commented on #17
@zethussuen Good question. No, not yet. I'd love some help.

Some quick thoughts off the top off my head:

- Color-wise we may want to use single/neutral colors, since the style guide itself is meant to showcase other apps' designs rather than compete with them. I am trying to keep all `ember-freestyle` UI/chrome very understated. The logo should probably be suitably simple.
- We should avoid any

[2016-04-14 16:10] wireframe opened #30 "Inline snippets not rendering"
I've run the example "dummy" app multiple times and things work great, but when I use the addon generators w/ nearly the exact same markup, I don't see any of the inline rendered snippets for code/markup/etc.

I have this issue with my custom components as well as the default freestyle-palette components.

Any tips for how to debug/troubleshoot?

[2016-04-15 21:38] chrislopresto opened #31 "Provide mechanism to remove from production build"
Document how to use https://github.com/kellyselden/ember-cli-funnel to exclude Freestyle-related content from production builds.

Rather than carry this as an explicit dependency, let's just document how to go about it. This will avoid conflicting with other unrelated use of ember-cli-funnel. It will also allow people to put some Freestyle guides/components in production while excluding others...

[2016-04-15 23:09] GCheung55 commented on #31
Nice. I was just thinking about this. My team might not want the style guide out in prod.

[2016-04-18 03:44] chrislopresto commented on #30
@wireframe I'm happy to help out and see what's going on, but I'll need some details. Can you copy/paste code samples or share links to a public gist or repository?

[2016-04-18 14:19] wireframe commented on #30
I'll do my best to create a simple testcase.  My guess at the moment is that it may have something to do with organizing my components into pods?

I'm using the [ember-component-css](https://github.com/ebryn/ember-component-css) addon which requires pods at the moment.

[2016-04-18 17:42] chrisvdp opened #32 "Allow freestyle to work within an Addon"
Currently, freestyle only seems to work in an app, but not an addon. It should work in either.

[2016-04-19 15:43] chrisvdp commented on #32
got it working by moving the freestyle files added to app into the dummy app

[2016-04-19 15:43] #32 closed

[2016-04-19 18:55] grapho opened #33 "Provide a way to generate "freestyle" at target route"
`/freestyle` is not always the best route for the style guide to live. I, for instance need it to live in a sub directory due to custom server config.  It is simple to move the files after they are created, but maybe there can be an option to provide a terminal prompt to pick what you want the route to be located?

[2016-04-20 16:11] chrislopresto commented on #30
You may need to specify `snippetSearchPaths` like this: https://github.com/chrislopresto/ember-freestyle/blob/789cbb272eccf742c07d322c2783d37a547a03f6/ember-cli-build.js#L12

By default, ember-freestyle looks in `app`. I obviously need to document this!

[2016-04-20 16:12] chrislopresto commented on #30
FYI, the technique comes from https://github.com/ef4/ember-code-snippet

[2016-04-20 16:12] chrislopresto commented on #30
@wireframe Let me know if this resolves things for you.

[2016-04-21 02:09] Tuizi commented on #15
@chrislopresto I very interested by your addon, it could solve a problem we have in my compagny for all the reasons you mentioned at Ember Conf.
But we are using **LESS**, so how can I help you to support that?

So reading your previous comment, I was thinking, why not just providing a simple `.css` file? Then, we just have to override properties with our favorite preprocessor.

I do, for example,

[2016-04-22 17:57] chrisvdp opened #37 "Allow usage tag to disable code snippet"
I want to render code, but not the snippet in some cases as it doesn’t add much to the styleguide. ie Headings, Typography, Color Palette.

[2016-04-22 18:31] chrislopresto commented on #37
I'm thinking we should have a `display` property that defaults to `'toggle'` but can be set to `'none'` or `'off'`... something like that.

[2016-04-22 18:41] chrisvdp commented on #37
`display: none` would be how my brain works

[2016-04-25 17:12] wireframe commented on #30
Thanks Chris.  I'll try to test out this change today!

---
Ryan Sonnek
ryan.sonnek@gmail.com

[2016-04-26 02:11] wireframe commented on #30
Unfortunately, No :dice: using this approach.  It could easily be user error, but I've been unable to trace down the root cause of this issue.

I'm going to have to table this issue for the time being, and you can feel free to close out this issue until I have time to revisit it further.

[2016-04-26 22:27] mszoernyi commented on #30
@wireframe Is you `freestyle.hbs` shareable? I'm using a pod structure as well with `ember-component-css` and I'm just about to setup everything. I could try your setting on the way and figure out what setting you need to set.

[2016-04-27 20:58] mszoernyi commented on #33
It would be nice if the generators check for pod structure as well.

[2016-04-27 22:56] robabby opened #39 "The package handlebars@4.0.5 does not satisfy its siblings' peerDependencies requirements!"
Hey!  I loved your emberconf talk and am looking forward to trying out this addon.  Unfortunately I am getting the following error when I run `ember install ember-freestyle`.  Any thoughts?

[code]

[2016-05-03 14:02] robabby commented on #39
Just attempted this again and everything completed successfully.  There must have been an issue somewhere in the dependency tree.

[2016-05-03 14:14] chrislopresto commented on #39
Glad to hear it!

[2016-05-03 14:14] #39 closed

[2016-05-03 16:25] chrislopresto commented on #10
Making headway on this: https://github.com/chrislopresto/ember-freestyle/pull/41

[2016-05-03 17:21] grapho commented on #37
what about using the component's built in `isVisible` property?

[2016-05-03 17:27] chrislopresto commented on #37
The idea here is to provide a way to opt out of the automatic usage snippet. For example, we never want to see the usage snippets for things like the `freestyle-palette` component.

[2016-05-04 14:55] mszoernyi commented on #30
I would suggest we add some sane defaults for the snippet path based on the `usePods` flag.

`snippetSearchPaths` for pod structure: `['tests/dummy/app', 'app']`
`snippetSearchPaths` for normal structure: `['tests/dummy/app/styles', 'app/styles']`

[2016-05-04 15:25] chrislopresto opened #45 "WIP - Roadmap Brain Dump Meta Issue"
The purpose of this issue is to do a brain dump so we all can drive out tasks, PRs, and goals together. @chrislopresto has various ideas in his head that need to be shared and fleshed out to get some good collaboration rolling.

The outcome of this issue should be a roadmap with accessible issues that people can jump into.

_To be continued_

[2016-05-04 16:32] mszoernyi commented on #14
Where would I start doing this? And do we need to take care of nested addons? eg. `Consuming App` -> `some-addon` -> `ember-freestyle`

If I understood this [issue](https://github.com/ember-cli/ember-cli/issues/3718#issuecomment-104975924) correctly, the included hook seems to fails for nested addons due to the missing context.

[2016-05-05 21:32] chrislopresto opened #48 "Support different FREESTYLE-USAGE-* code snippet delimiters"
### Problem

Currently, code snippets are delimited using comments of the form `// BEGIN-FREESTYLE-USAGE unique-slug`.

There is also a hacky technique of appending `:notes` to the end of the slug to indicate that the snippet content is in fact markdown: `/* BEGIN-FREESTYLE-USAGE unique-slug:notes`. This allows the `freestyle-usage` component to render both "regular" code snippets and "markdown-no

[2016-05-06 14:24] mszoernyi commented on #33
@chrislopresto How would we handle the install path then? Should the addon blueprint still create the files or should the user install in 2 steps

[code]

[2016-05-09 16:56] elidupuis opened #50 "Scope freestyle options to avoid conflicts"
Just ran into a conflict with [ember-autoresize](https://github.com/tim-evans/ember-autoresize/blob/master/index.js#L7), which uses ember-code-snippet's `snippetSearchPaths` option name. This totally breaks my broccoli build 😞

Freestyle options should be scoped under a dedicated options object.

[2016-05-10 17:57] boydkr opened #52 "Subsection navigation not present"
I see there's a note in the readme about section yielding themselves to get subsection navigation, but it's not clear what that means.

[2016-05-10 18:29] chrislopresto commented on #52
@boydkr Can you post some code snippets so we can see what's going on? The examples in the README should work as written.

[2016-05-10 18:34] boydkr commented on #52
I've only gotten as far as installing the add-on and replacing the default fonts in the example template with my own.

I don't get the 'Typography' or 'Colors' subsections.

![screen shot 2016-05-10 at 1 32 53 pm](https://cloud.githubusercontent.com/assets/5815066/15158063/cda91a4e-16b3-11e6-8712-5e231134ac05.png)

[2016-05-11 05:31] chrislopresto commented on #52
Strange. Are you getting any errors in the console? Can you inspect the DOM to see what's actually being rendered in the menu area?

[2016-05-12 15:08] boydkr commented on #52
The submenu elements exist in the DOM, but aren't displayed.

It turns out that we had some wonderful legacy bootstrap css hanging around that was messing with some base elements in the nav 😢 .

Removing the offending css resolves the issue.

[2016-05-12 15:08] #52 closed

[2016-05-12 15:30] chrislopresto commented on #52
Style guide for the win.. albeit in an indirect fashion here! Glad you tracked it down.

[2016-05-13 15:47] boydkr opened #53 "Inlining variants doesn't work"
This could be another conflicting css issue, but I had to add `class="FreestyleCollection-variant"` to my `{{freestyle-variant}}` components to get them to display properly.

[2016-05-16 18:55] oligriffiths opened #54 "File ignored by default. Use "--ignore-pattern '!node_modules/*'" to override"
Hi

Since updating ember cli to 2.5, I'm get getting lots of warnings:

[code]
And can't seem to resolve this?

Any ideas?

[2016-05-17 04:12] chrislopresto commented on #53
@boydkr Could you share the template where you use variants? The README doesn't document this yet, but `freestyle-variant` components are designed to be used inside a `freestyle-collection` component as follows:

[code]

[2016-05-17 04:52] boydkr commented on #53
Here is an excerpt
[code]

[2016-05-17 16:05] chrislopresto commented on #53
Ah, gotcha. Apparently I didn't pull in the inline CSS rule tied to the `freestyle-variant` `classNameBinding`. Will be an easy fix...

http://github.com/chrislopresto/ember-freestyle/blob/1af16595bfa452eb91df261e33772003a07b30e2/app/styles/components/freestyle-collection.scss#L55-L57 should be moved into a new `freestyle-variant.scss` partial as:

[code]

We should also update the README document

[2016-05-20 14:39] casio opened #55 "ember serve: files being watched twice after freestyle installation"
Hey, nice addon, love developing stuff using it!

However, I noticed that after installation, files seem to be getting watched twice.
This results in cli log statements like `file changed templates/application.hbs` being logged twice with each change. Dont have proof, but I feel recompilation/live reloading gets slower, thus.

Have an idea whats causing this? Is there maybe a way I can hack a work

[2016-05-20 15:18] chrislopresto opened #56 "Add CHANGELOG"
Add a changelog using https://github.com/skywinder/Github-Changelog-Generator

[2016-05-20 15:51] #53 closed

[2016-05-20 16:01] chrislopresto commented on #54
This is caused by a new eslint release. Updating our ember-cli-eslint dependency should do the trick. I'll hop on that. Thanks for reporting.

[2016-05-20 16:25] #54 closed

[2016-05-20 16:38] #56 closed

[2016-05-21 17:41] #12 closed

[2016-05-21 22:13] chrislopresto opened #61 "Simplify Technique for Including Notes"
There are three separate, related components for including notes in a Freestyle guide: `freestyle-notes`, `freestyle-note`, and `freestyle-annotation`. This unnecessarily complicated approach is a result of quick prototyping. Let's simplify it.

[2016-05-22 00:53] #50 closed

[2016-05-22 00:56] chrislopresto commented on #10
I'm going to declare this issue closed, as we now have a basic README in place. We'll track creation of a proper docs site in a separate issue.

[2016-05-22 00:56] #10 closed

[2016-05-22 00:57] chrislopresto commented on #16
Merged in the first acceptance test today. More to come.

[2016-05-22 01:02] #11 closed

[2016-05-24 19:52] niltz commented on #30
I think I am having a similar issue. I found that inline snippets in my scss files are not found, but if I put them in a js file (like the freestyle.js controller) then they are found.

The scss files are in the app folder, so I believe they should be in the snippetSearchPaths by default.

The example snippet that works in js but not scss is:
[code]

[2016-05-24 21:11] chrislopresto commented on #30
@niltz I just realized that I never wired up SCSS notes snippets. https://github.com/chrislopresto/ember-freestyle/pull/63 will do the trick. I'll merge it and cut a new release.

[2016-05-24 21:13] chrislopresto commented on #30
FYI, this whole setup needs to be cleaned up. I think these are the two next issues  to focus on:

- [Simplify Technique for Including Notes #61](https://github.com/chrislopresto/ember-freestyle/issues/61)
- [Support different FREESTYLE-USAGE-* code snippet delimiters #48](https://github.com/chrislopresto/ember-freestyle/issues/48)

[2016-05-24 21:25] chrislopresto commented on #30
@niltz I just published v0.2.12, which supports SCSS note snippets. You can see it in action here:

**Source**
https://github.com/chrislopresto/ember-freestyle/blob/3debca529aae0235c579e7767179453558685e9d/app/styles/components/freestyle-palette-item.scss#L1-L9

[code]

**Rendered**
http://chrislopresto.github.io/ember-freestyle/?f=fpi&m=false&s=Visual%20Style&ss=Color

[2016-05-25 12:09] migbar commented on #61
Hi @chrislopresto

First, love the addon, and awesome EmberConf talk! 😄

To simplify the annotation technique, are you aiming at keeping the components but changing public API, or are you thinking of removing/merging them?

I can see that `freestyle-note` and `freestyle-annotation` are used as public components to build the guide but `freestyle-notes` seems to be used privately to implement `frees

[2016-05-25 12:53] chrislopresto commented on #61
@migbar Thanks and thanks! These are early days, so I think we should remove/merge components to arrive at something simple.

Your outlined approach sounds good at first glance. As we dig in, we should document the purpose and usage guidelines for each of the (hopefully two) components.

As you're able to start digging into this, I will start digging into https://github.com/chrislopresto/ember-fre

[2016-05-25 13:25] migbar commented on #61
Awesome!
Let me see if I can carve out some time this week ...

[2016-05-25 17:33] niltz commented on #30
@chrislopresto v0.2.12 fixes my issue. Thanks!

[2016-05-26 14:13] chrislopresto commented on #30
@wireframe I'm going to close this for now. Feel free to reopen or open a new issue if your problem persists.

[2016-05-26 14:13] #30 closed

[2016-05-27 17:08] migbar opened #65 "Allow the setting/overriding of the default theme at the styleguide-wide level"
Currently, the `ember-freestyle` service holds the default theme for the styleguide.

It would be nice if we could set a different theme from the `freestyle-guide` component.

Something like:

[code]

The `highlightJsTheme` argument will not be mandatory. If not provided, the guide will fall back to the service's `defaultTheme` as it does today.

However, if a theme is given, it will become the `d

[2016-06-07 16:50] vine77 opened #69 "Allow notes to be placed before component and code example"
The problem is that the rendered component and the code for that component are not adjacent when there are notes due to [the ordering in freestyle-usage.hbs](https://github.com/chrislopresto/ember-freestyle/blob/150d96874112cd5e049f26e3bfa4ba359e25da63/addon/templates/components/freestyle-usage.hbs#L13-L25):

1. Rendered component
2. Notes
3. Code for rendered component

It should be possible to a

[2016-06-07 20:38] vine77 commented on #69
@chrislopresto, thanks for all the work on this addon! I'm excited that we started using it in our enterprise app.

I'd be happy to submit a PR to add an option for note positioning if that sounds good. I'm assuming you'd like to maintain a default note position of "middle", between rendered component and code?

[2016-06-08 14:58] chrislopresto commented on #69
Interesting. I wonder if your approach makes more sense overall. I just re-checked the style guide library that influenced the minimal Freestyle UI, and they also do it that way.

I'd rather just change the template than add a component option (unless there is an upswell of roaring objection of course).

Want to just PR the template change and include a screenshot?

Thanks!

[2016-06-08 23:40] vine77 commented on #69
Sounds good to me, @chrislopresto! PR submitted.

[2016-06-09 03:06] #69 closed

[2016-06-09 17:53] christophermlne commented on #15
it would be great if there was a precompiled css file that we could import instead of the .scss file

[2016-06-13 11:38] christophermlne opened #71 "freestyle.css not loading in fresh ember-cli project"
I was hoping to get a compiled version of the css needed for freestyle, since our project uses less and we cannot switch to sass.

So I generated a new Ember project and installed the freestyle addon.

The addon install generator adds a link in the index.html head to 'freestyle.css'. This file is present, but blank.

Similarly the @import rule in styles/app.scss fails to import anything.

Please l

[2016-06-13 12:13] christophermlne commented on #71
if i try to compile directly with sass i get `error styles/components/freestyle-notes.scss (Line 12: File to import not found or unreadable: ../ember-freestyle/highlight.js/tomorrow-night.)`

[2016-06-13 12:52] christophermlne commented on #71
i've had a chance to try out this project with various versions of ember in both existing and new projects, with different versions of ember-freestyle and haven't found a combination that will compile the stylesheets. i think there may be missing dependencies (missing bower.json).

the last thing i'll try before moving on is a git clone of the repo, and try to precompile the stylesheet there and c

[2016-06-13 21:49] chrislopresto commented on #71
@christophermlne It sounds like you need to add an explicit dependency on `ember-cli-sass` in your new Ember project. That will involve creating an `app/styles/app.scss` file. I would try getting the new app building and serving simple SCSS styles to make sure everything is set up properly.

Once you have that in place, the `ember-freestyle` generator should be able to take care of the rest. Just

[2016-06-14 13:24] christophermlne commented on #71
@chrislopresto ah that makes sense. i'll give it a shot and report back

[2016-06-20 12:42] donsalvadori commented on #15
yo yo yo, I converted almost all the scss into plain jane css over the weekend. Ill make a PR this week for review

[2016-06-20 12:43] donsalvadori commented on #17
busta rhymes is so fast though for a rapper, why not Nas? I have a couple of prototypes I worked on this weekend I an show you if you want.

[2016-06-29 18:48] zidjian257 opened #72 "does not work on windows due to use of colon in filenames"
Just had a hard time to get this addon running on windows.
I know not many use windows as their operating system in the ember community, but unfortunatelly I have to, due to my employer  :-(

Running on windows the addon does not render **handlebars snippets** for `freestyle-usage` as well as **notes** do not work.

As I found out this is because the `freestyle-usage-snippet-finder` and the `frees

[2016-06-29 20:26] zidjian257 commented on #72
Argh, all Tests Failed. As this broke backwords compability. I will take a Look to find a better aproach tomorrow

[2016-06-30 09:54] zidjian257 commented on #72
OK, looks good to me like this.
It now uses underscores for filenaming but, still allows using colons in the comments.

[2016-07-01 18:39] christophermlne commented on #71
This worked. Closing.

[2016-07-01 18:39] #71 closed

[2016-07-27 18:19] misteroh commented on #72
It looks like using `notes` still doesn't work in Windows?

[2016-08-04 20:31] wagenet opened #75 "{{freestyle-annotation}} doesn't hide on filter"

[2016-08-16 14:19] chrislopresto commented on #20
Seems like this problem came from elsewhere. Hopefully it's no longer plaguing folks. I'm going to close this for now. Feel free to reopen if necessary.

[2016-08-16 14:19] #20 closed

[2016-08-16 14:22] chrislopresto commented on #55
@casio I haven't noticed this problem. Is it still happening? Can you provide more details?

Thanks.. and sorry for the delayed response!

[2016-08-22 23:20] kellyselden commented on #31
This *might* be easy using https://github.com/kellyselden/ember-cli-funnel

[2016-08-23 13:19] chrislopresto commented on #31
Nice!

[2016-08-23 14:18] casio commented on #55
Just tried again with both an npm install & master. I get the same behaviour as described above.
[code]
Repro:
* ember new foo & cd foo
* ember install ember-freestyle
* add freestyle route
* edit eg `app/templates/freestyle.hbs`

On a single change in the template I'll get this console output:
[code]

Once I remove the freestyle dependencs from package.json the same line will only be printed once

[2016-09-16 06:39] denzo opened #80 "Breaks with `ember-css-component`"
![screen shot 2016-09-16 at 4 37 51 pm](https://cloud.githubusercontent.com/assets/1874772/18577327/2b5c7842-7c2c-11e6-9cde-1c96c076a155.png)

[2016-09-28 18:08] marineb opened #81 "File to import not found or unreadable: ../ember-freestyle/highlight.js/tomorrow-night"
Ok. Sorry for the multiple opening and closing of the issue.
Details of the error I'm getting below.

[code]

[2016-09-28 19:06] marineb commented on #81
Not seeing this issue anymore.

[2016-09-29 01:43] #72 closed

[2016-09-29 15:43] marineb commented on #81
I updated my bower.json file so I would be getting `"highlightjs": "9.3.0"`. I thought it may be causing the issue since the directory `highlight.js` doesn't exist. Instead, I have the directory: `highlightjs` in my bower component.

But that didn't fix it.

[2016-09-29 16:04] marineb commented on #81
I'm going to be forking your code, and removing any reference of `@import '../ember-freestyle/highlight.js/[CSS file]` for now.

Would love a solution. :/ Thank you!

[2016-09-30 06:35] MondeSameWave opened #82 "Does not work with ember-hammertime"
Template does not display component and clicking on menu icon produces the following error
[code]

Template
---------
[code]

[2016-09-30 08:32] MondeSameWave commented on #82
Problem originates from ember-hammertime.

[2016-09-30 08:32] #82 closed

[2016-10-03 15:30] chrislopresto commented on #81
Thanks for digging into this @marineb I'm looking forward to sorting out the highlightjs dependency. I threw it in in early prototypes for this addon but would like to clean things it up.

[2016-10-28 22:10] josemarluedke commented on #31
Would love to get this done automatically. In the mean time, can a documentation be provided to accomplish this?

[2016-10-28 22:14] josemarluedke opened #84 "Get third-party dependencies from npm instead of Bower"
Would be awesome to remove the bower deps of `remarkable` and `highlightjs` from this addon and use it from NPM instead.

[2016-11-02 00:00] dfreeman commented on #15
In ember-css-modules, there's the concept of a [virtual module](https://github.com/salsify/ember-css-modules#virtual-modules) for letting addon consumers configure constants for things like theming as part of build config.

I maintain that addon, so I naturally have a biased opinion of it as a whole (everyone should use it for everything 😉 ), but even if you're married to Sass it seems that a simi

[2016-11-02 02:11] knownasilya commented on #15
That is beautiful

[2016-11-25 22:30] jamesarosen commented on #31
My use-case for this (or something like it) is to add freestyle documentation to an *addon*. That is, in development mode my library becomes a documentation-only app. When included in another app, my addon's documentation should be excluded.

[2016-12-06 01:39] jamesarosen opened #90 "Support usage indirection"
I have 30 different icons whose docs each look like
[code]
I wanted to DRY that up with something like
[code]
While the `rendered` block shows up fine, the code snippet is blank.

I also tried
[code]
with
[code]
with the same effect.

Is there something I can do to make ember-freestyle pick up the fact that I want each of those to get a usage snippet?

[2016-12-07 06:37] chrislopresto commented on #90
@jamesarosen Interesting use case. We should try to come up with a nice pattern for this.

Right now, the addon's snippet finder uses naive text matching during the build step to look for the opening and closing `freestyle-usage` curlies. It has no concept of usage within an iterator.

What you'd need to do right now is create separate snippet files and reference them by name in your `each` block.

[2016-12-07 16:53] jamesarosen commented on #90
Now that I think about it, perhaps I don't really want snippets for each of these. If they're really all variants on the same code, then I can do the code once at the top and then write all the instances as a table or a list or something.

[2016-12-12 14:34] chrislopresto commented on #90
Ok. I'll close this in the meantime but continue to think this through.

Cheers.

[2016-12-12 14:34] #90 closed

[2016-12-16 15:28] claudio147 opened #91 "ENUMERABLE#CONTAINS in Ember v.2.8+"
Since Ember v.2.8 i get the following warning for all style-guide pages where I use collections.

DEPRECATION: `Enumerable#contains` is deprecated, use `Enumerable#includes` instead. [deprecation id: ember-runtime.enumerable-contains] See http://emberjs.com/deprecations/v2.x#toc_enumerable-contains for more details.

This issue could be fixed by replacing
`!variants.contains(variantKey)`
with
`!va

[2016-12-16 15:37] claudio147 opened #92 "Solution for using fastboot"
It would be fine if there would be a solution for using ember-freestyle with fastboot. At the moment there are a few warnings like:

It's because of the links in the navigation.

[2017-01-05 19:50] oligriffiths commented on #31
@chrislopresto Yeah, we need a way of removing freestyle from production, this should be dev only by default. Any update on this?

[2017-01-19 16:47] Sinled commented on #84
I second to this.

I removed bower from my application several weeks ago, and bower dependency stops me from using this addon directly inside my application.

[2017-01-24 07:18] jonasbuechel commented on #92
Is there any workaround to disable the console output?

[2017-01-30 23:22] oligriffiths commented on #84
+1 Yes please since 2.11 has been releases and bower_components deprecated

[2017-01-30 23:49] oligriffiths commented on #84
Found a quick solution to this for now:

[code]
In `package.json` add
[code]
under a `scripts` root node.

This should run the prepublish hook after installing and symlink the relevant bower components into node modules

[2017-02-17 03:47] #91 closed

[2017-02-17 07:33] claudio147 commented on #91
Thanks!

[2017-03-01 20:08] simonihmig commented on #92
It seems this issue is related to `ember-cli-staticboot`, not FastBoot in general, right?

[2017-03-02 15:56] simonihmig commented on #31
Here is my attempt: #98

[2017-03-07 20:44] danwenzel opened #99 "freestyle-notes don't show up when using new _ syntax"
According to the [release notes for 0.2.14](https://github.com/chrislopresto/ember-freestyle/releases/tag/v0.2.14), we are now supposed to be using the new `_notes` syntax for `freestyle-note` instead of `:notes`.

However, when using the new syntax, the notes are not showing up at all.  They _are_ still showing up using the old syntax.

[2017-03-13 04:29] chrislopresto commented on #99
Thanks for reporting this. I'm on (computerless) vacation for the next week, but I'll take a look when I'm back.

[2017-04-12 16:56] danwenzel commented on #99
@chrislopresto - Any updates on this?

[2017-04-30 22:05] chrislopresto opened #105 "Optimize or Optionally Exclude Syntax Highlighting"
The highlight.js payload is too big to responsibly bring into consuming application's builds. Options under consideration include a combination of:

- Loading highlight.js via the provided CDN-hosted package
    - https://highlightjs.org/usage/
- Making syntax highlighting optional via a separate ember-freestyle-syntax-highlighting addon
- Optimizing the highlight js during build
    - https://bja

[2017-05-01 03:01] #16 closed

[2017-05-03 03:40] chrislopresto commented on #15
Thanks for the work on this. For a few related and unrelated reasons we opted to move Ember Freestyle's CSS to the addon tree to avoid taking an opinion on consuming application CSS pre- and post-processors... and to simplify the process of blacklisting / stripping ember-freestyle from production builds.

More details are here: https://github.com/chrislopresto/ember-freestyle/pull/106

I'm going t

[2017-05-03 03:40] #15 closed

[2017-05-03 03:45] #13 closed

[2017-05-03 03:45] #14 closed

[2017-05-03 03:45] #31 closed

[2017-05-03 03:45] #80 closed

[2017-05-03 03:45] #81 closed

[2017-05-03 03:45] #84 closed

[2017-05-03 03:45] #105 closed

[2017-05-03 03:54] chrislopresto commented on #65
Just realized this issue was still open. This is now resolved by your work on https://github.com/chrislopresto/ember-freestyle/pull/104

Thanks again, @migbar!

[2017-05-03 03:54] #65 closed

[2017-05-03 05:52] jpsanantonio opened #115 "v0.4.0 File to import not found or unreadable: ember-freestyle"
Everything's working fine in v0.2.14, however when I tried upgrading my project to use ember-freestyle@0.4.0 I get this error:

[code]

[2017-05-04 01:51] chrislopresto commented on #115
@jpsanantonio Sorry about that. You had perfectly unlucky timing. That's a bug that should be fixed in 0.4.1 Can you try upgrading and let me know how it goes?

Thanks!

[2017-05-04 02:47] chrislopresto commented on #99
@danwenzel Somehow I must have fouled this up in 0.2.14. I went ahead and reintroduced the change here: https://github.com/chrislopresto/ember-freestyle/pull/117

I'll cut a v0.5.0 release, whose release notes will provide some deja vu.

Thanks for reporting and reminding me about this.

[2017-05-04 02:50] chrislopresto commented on #92
I haven't played around with FastBoot at all yet, but I'd love to pair with someone who has a FastBoot project.

[2017-05-04 02:54] #99 closed

[2017-05-04 02:55] #45 closed

[2017-05-04 04:11] jpsanantonio commented on #115
@chrislopresto Just upgraded to 0.4.1 but it's still not working.

[2017-05-04 04:20] chrislopresto commented on #115
@jpsanantonio Oh, sorry. I just read the error message more closely. You also need to remove `@import 'ember-freestyle';' from your app.scss file.

I just updated the [v0.4.0 release notes](https://github.com/chrislopresto/ember-freestyle/releases/tag/v0.4.0) accordingly.

[2017-05-04 04:47] jpsanantonio commented on #115
@chrislopresto Nice! It's now working perfectly. Thanks!

[2017-05-04 06:08] chrislopresto commented on #115
Excellent! Let me know if you have any questions about the release. Closing this.

[2017-05-04 06:08] #115 closed

[2017-05-04 16:03] simonihmig commented on #92
I have actually played around with FastBoot quite a lot recently. I don't see ember-freestyle currently doing anything that should not work in FastBoot. In fact our app is using both, and I just checked and can confirm, that our styleguide renders just fine on the server!

As I said above, the problem reported here seems to be related to ember-cli-staticboot, not FastBot itself.

I have made an ad

[2017-05-04 17:19] ming-codes opened #120 "Error: File to import not found or unreadable: ember-freestyle"
This is during upgrade from `0.2.14` to `0.4.1`. It looks like `app/styles/ember-freestyle.scss` is gone in this version.

[2017-05-04 20:27] chrislopresto commented on #120
Hi @ming-codes. Sorry for the confusion, but this is an expected breaking change when upgrading to 0.4 and beyond. We decided to rework how Ember Freestyle is providing its CSS to consuming apps.

The [v0.4.0 Release Notes](https://github.com/chrislopresto/ember-freestyle/releases/tag/v0.4.0) explain that apps need to remove `@import 'ember-freestyle';` from your app.scss file, but perhaps we shou

[2017-05-31 13:19] zidjian257 opened #123 "import not found or unreadable: ../ember-freestyle/highlight.js/zenburn."
When upgrading from 0.2.14 to 0.3.0 (and still with 0.4.0 or 0.4.1) im getting following error:

[code]
Do you have an idea what could cause this issue

[2017-06-06 16:36] zidjian257 commented on #123
no unfortunatelly not - I'm staying with 0.2.14

[2017-06-21 02:24] callovarne commented on #123
Were there a few spots missed in #111? To get my project building, I had to remove some highlight.js references in:
* [/addon/styles/components/freestyle-notes.scss](https://github.com/chrislopresto/ember-freestyle/blob/23dafc18360552bc9e25693a27193aea8a330fe0/addon/styles/components/freestyle-notes.scss#L12)
* [/addon/styles/components/freestyle-usage.scss](https://github.com/chrislopresto/ember-

[2017-06-30 19:26] ming-codes opened #125 "TypeError: Cannot set property '_directoryPath' of undefined"
[code]

Apparently `unwatchedTree` needs to be invoked as a constructor.

[2017-06-30 21:29] Kerrick commented on #125
This is related to https://github.com/rwjblue/broccoli-unwatched-tree/issues/4

[2017-07-01 00:19] #125 closed

[2017-07-09 21:30] #120 closed

[2017-07-09 21:39] #123 closed

[2017-07-09 21:50] chrislopresto commented on #123
@callovarne Those imports were intentional. During the addon build, we were still pulling in highlight.js CSS files, renaming them to SCSS, and importing them within modifier selectors as a means of supporting themes on individual `freestyle-usage` or `freestyle-notes` instances.

That said, I think this is more trouble than it's worth, so I'm removing this in https://github.com/chrislopresto/embe

[2017-07-10 02:56] chrislopresto commented on #123
@zidjian257 @rajasegar @callovarne Whenever you have a chance, can you let me know if the changes in v0.5.0 and v0.6.0 fix things up for you? Cheers!

[2017-07-10 08:52] tarikEast opened #131 "Issues with installing new version of ember-freestyle"
Hi, today I tried to install new ember-freestyle to replace my forked ember-freestyle version in project, but I got this when trying to install it.

[code]
I have cleaned the npm cache and removed node_modules

[2017-07-10 10:48] tarikEast commented on #131
Additional information: I managed to install it on our ember project, but couldn't do the same on ember addon. Ember cli version is 2.8 on addon. Is it possible that that I need greater version of ember (on project is 2.9.1)

[2017-07-10 16:49] chrislopresto commented on #131
@tarikEast I have https://github.com/chrislopresto/ember-freestyle-test-addon for testing Ember Freestyle within an addon. The addon is currently in good shape, pulling in Ember Freestyle 0.6.0, building with Ember CLI 2.13.

Upgrading Ember CLI would be worth a shot. I'm not intimately familiar with the changeset between 2.8 and 2.13. Another option would be to fork ember-freestyle-test-addon to

[2017-07-10 17:31] tarikEast commented on #131
Will try to make reproduce on fork and will get back to you

[2017-07-13 15:45] tomoguisuru opened #132 "Documentation and Blueprints Do Not Match v0.6.0"
The documentation is no longer valid with the v0.6.0 release an creates confusion for new users of the addon

Also, the default blueprints no longer work and provide no useful examples

[2017-07-13 16:05] chrislopresto commented on #131
Sorry, I didn't read this closely enough. The generator isn't working, which is also reported in #132

Ok. I'll take a look at this sometime this week. In the meantime, a manual install should work just fine.

[2017-07-14 15:00] #132 closed

[2017-07-14 15:12] chrislopresto commented on #132
Thanks for reporting. I just released 0.6.1 which includes a fix for the blueprint.

As for the documentation, I got rid of the separate, outdated docs project. Now [ember-freestyle.com](//ember-freestyle.com) serves up the dummy app from this repository. We still need to improve the documentation, but it is now current.

[2017-07-14 15:18] chrislopresto commented on #131
Just an update... I tried unsuccessfully to reproduce this. I am still able to run `ember install ember-freestyle` just fine locally using Ember CLI 2.13.

I'm going to close this for now. @tarikEast, please reopen if you're still having problems or tips for reproducing.

[2017-07-14 15:18] #131 closed

[2017-08-01 22:01] thomblake opened #138 "Latest version seems broken?"
I filed an issue at https://github.com/stefanpenner/async-disk-cache/issues/58 which I think is where the error is, but figured I'd post something here too to see what's up

When trying to build after upgrading freestyle, I see `TypeError: heimdall.hasMonitor is not a function`

[2017-08-01 22:05] thomblake commented on #17
Maybe something with a microphone and a solid gold _f_ on a chain

[2017-08-08 22:08] gijsbotje commented on #17
maybe you can find some inspiration over here http://www.dafont.com/theme.php?cat=606&text=FREESTYLE+++F+f

[2017-09-29 21:42] wagenet opened #142 "Typeface component doesn't allow multiple font families to be specified"
Due to the forced quotation marks, you can't have multiple font families: https://github.com/chrislopresto/ember-freestyle/blob/8d42a9f1b7ed7bb62c90120ad31995d28d968d1e/addon/components/freestyle-typeface.js#L13

[2017-10-02 17:17] wagenet commented on #142
See #140 for simple fix.

[2017-10-04 10:13] Biszkopt91 opened #143 "Error: File not found: addon.sass"
I'm adding `ember-freestyle` to my project using instruction, but during building `broccoli` throws error related to `addon.sass.`. Without this package, the error doesn't occur. I try to import styles in `app.sass` `@import 'ember-freestyle'` or add it to `ember-cli-build` like:
[code]

Error:
![error](https://user-images.githubusercontent.com/17613900/31170290-cd4c79a2-a8fb-11e7-965f-24ca0ae5812

[2017-10-15 07:45] #142 closed

[2017-11-17 21:41] scanieso opened #148 "Remove jQuery dependency"
It would be great to be able to use this addon in jQuery-less apps :) http://miguelcamba.com/blog/2017/04/11/the-future-of-embers-testing-and-the-beheading-of-jquery/

[2017-11-21 10:23] PoslinskiNet commented on #143
@Biszkopt91 I think it is connected with https://github.com/aexmachina/ember-cli-sass/issues/163 ... ember-freestyle has  `addon.scss`, but the project supports `*.sass` (based on `ember-cli-sass` setting)

[2017-11-25 10:31] PoslinskiNet commented on #143
I made a repo that contains the minimal setup that reproduce the issue:

https://github.com/PoslinskiNet/ember-freestyle-fix

[2017-11-27 12:34] PoslinskiNet commented on #143
@chrislopresto maybe we could move to `.css` approach to avoid cross-extension node-sass issues? Would you merge such a PR if anyone would prepare one of these?

[2017-12-03 20:34] chrislopresto commented on #148
Addressed in #149

[2017-12-03 20:34] #148 closed

[2017-12-03 20:54] chrislopresto commented on #143
Wow, that's a bummer! Because node-sass can handle scss and sass files side by side, I never thought about extension battles in ember-cli-sass.

Because of this issue and other past issues, I'd like to move to a vanilla CSS approach. @PoslinskiNet would you be willing to open a PR?

[2017-12-05 10:50] PoslinskiNet commented on #143
@Biszkopt91 @chrislopresto Pull request is on the place. Feedback is welcome.

[2017-12-06 10:28] ctjhoa opened #153 "Supported Ember versions"
Hi,

I've tried to run test on `ember 2.4.6` with `ember-freestyle 0.6.2` because I cannot see what's breaking changes could prevent us to use it and the tests seems to pass:
[code]

(`ember 1.13.13` failed without surprise)

According to the documentation `ember 2.4.6`should be limited to `ember-freestyle 0.3.0`.
As far as I understand your project vision, you only *guarantee* compatibility with

[2017-12-06 15:08] chrislopresto commented on #153
@ctjhoa That's correct, and thanks for verifying that everything still works with `2.4.6`. Would you be willing to open a PR, updating the documentation?

Thanks!

[2017-12-08 17:27] ctjhoa commented on #153
done

[2018-01-30 09:46] rajasegar opened #156 "Separate build target or enviroment for publishing the style guide"
I love the generated living style guide at the `/freestyle` route , but what if i just want the styleguide not the entire app with all the api calls, initializers, ember data related operations, i tried using a an entirely new enviroment config, but it doesn't work. Any directions/ pointers would be very much appreciated.

[2018-02-15 03:15] sivakumar-kailasam commented on #156
@rajasegar checkout https://simplabs.com/blog/2018/01/24/ember-freestyle.html. If you can please try raising a PR linking to the article on this repo's docs :)

[2018-02-15 17:38] Samsinite commented on #61
Hi, love freestyle, we use it on every project. This is currently a bit of a pain on our end, people frequently mess up the note slug. Unfortunately, the slug lives on the same level as annotation, making it difficult to just implement this using contextual components. What are your guys thoughts on a redesign or iterative change to make this easier to work with? I think it would be nice to have s

[2018-02-19 21:53] #153 closed

[2018-02-21 06:40] rajasegar commented on #156
@sivakumar-kailasam Yes, i have already seen that article, its pretty much a starting point of what i am trying to accomplish, but what it is essentially missing is how to stop the api calls from happening, muting the initializers and ember-data , that's what i am more concerned with.

Since one of the first constraints for me is keeping the styleguide code as part of the original product codebase

[2018-02-22 05:29] lukemelia opened #161 "Shift title position when using freestyle-dynamic"
Order seems backwards: the title should appear above the dynamic properties form.

[2018-02-22 05:30] lukemelia opened #162 "Improve documentation, including freestyle-dynamic component"

[2018-02-22 05:30] lukemelia opened #163 "Improve default styling of form output by freestyle-dynamic"

[2018-02-22 05:31] lukemelia opened #164 "Add support for slider that can be used as a freestyle-dynamic input"

[2018-02-22 05:31] lukemelia opened #165 "Add support for color picker that can be used as a freestyle-dynamic input"

[2018-02-22 05:32] lukemelia opened #166 "Add extension point for freestyle-dynamic input to use a custom component"
Perhaps something like:

[code]

[2018-02-22 05:34] lukemelia opened #167 "Integrate with ember-prop-types"
Ideas:

* auto-generate freestyle-dynamic form
* Display support props in freestyle template

[2018-02-23 15:45] lukemelia commented on #138
@chrislopresto I think this can be closed given the delay and that lots of people have been successfully using freestyle.

[2018-03-14 22:58] tamzinblake opened #170 "Please upgrade ember-cli-sass to 7.2.0"
ember-freestyle currently depends on outdated ember-cli-sass which depends on outdated ember-cli-version-checker which causes this deprecation https://github.com/ember-cli/ember-cli-version-checker/issues/48

Upgrading to 7.2.0 will fix this issue.

[2018-04-12 12:02] musaffa opened #172 "Removing ember-cli-sass dependency"
I've migrated from sass to postcss. I still use sass syntax (variables, import) in postcss, but I don't need ember-cli-sass to do it. This is the only addon in my app which has a sass dependency. I would love to see this dependency removed. Those who want to override the sass variables of `ember-freestyle` can install ember-cli-sass on their own. Thanks.

[2018-04-13 05:04] PoslinskiNet commented on #172
Seems like related: https://github.com/chrislopresto/ember-freestyle/pull/152

[2018-04-20 19:44] chrislopresto commented on #138
Closing this, as freestyle things appear to be working. Cheers.

[2018-04-20 19:44] #138 closed

[2018-05-09 23:03] danwenzel opened #173 "Adding a blank line with no spaces causes freestyle-usage snippet to be indented too far"
#### A normal freestyle-usage snippet has no extra indentation:

[code]

![image](https://user-images.githubusercontent.com/11724146/39843869-c44ce000-53b2-11e8-986e-37795b18c75b.png)

#### ...but if I add a blank line with no spaces in the middle of the usage code, the snippet indents way over:

[code]

![image](https://user-images.githubusercontent.com/11724146/39843894-dcd45d1a-53b2-11e8-9784-2

[2018-05-30 06:38] nizarayari opened #175 "Error while processing route"
I can't import ember-data-factory-guy from dummy app controller. I have this error :
**freestyle Could not find module `ember-data-factory-guy` imported from `dummy/controllers/freestyle` Error: Could not find module `ember-data-factory-guy` imported from `dummy/controllers/freestyle**

In my `tests/dummy/app/controllers/freestyle.js`, I have:
[code]

It occurs only when I serve the dummy app in p

[2018-05-30 11:11] lukemelia commented on #175
By default, ember-data-factory-guy is not enabled in production builds. See https://github.com/danielspaniel/ember-data-factory-guy#using-in-other-environments for info on how to enable it.

[2018-05-30 16:29] chrislopresto commented on #175
Thanks, @lukemelia. @nizarayari, the ember-data-factory-guy documentation linked should do the trick, so I'm going to close this issue here.

[2018-05-30 16:29] #175 closed

[2018-06-24 20:31] lukemelia opened #176 "Automatic discovery of components to include in freestyle guide"
This issue lays out a plan for adding automatic discovery of content for the styleguide.

This plan takes some inspiration from @Turbo87's blog post [Autodiscovery for the Ember.js component playground](https://simplabs.com/blog/2018/06/05/ember-component-playground.html) but imagines a different approach then outlined in the post.

The goal is to reduce the friction and busy-work of adding and up

[2018-06-25 07:07] Turbo87 commented on #176
@lukemelia the reason why we're not colocating the files is that we don't want to ship them with the production app, and having them in an in-repo-addon means that we can disable the addon for the production build. maybe I missed it, but that does not seem to be mentioned in the plan above? 🤔

[2018-06-25 13:04] lukemelia commented on #176
@Turbo87 Thanks for that reminder! This is something I discussed with @chrislopresto but didn't make it in the doc. I will update.

[2018-06-25 15:14] lukemelia opened #177 "Make ember-cli-showdown optional?"
It would be nice for users not using markdown to not have to "pay" for showdown's build-time costs

[2018-07-06 18:39] transitorytammy opened #180 "notes, useage, etc are not rendering when deploying style guide to production"
Everything is rendering great when working locally but when we try to deploy our style guide to production, it doesn't show any of the freestyle notes, usage, etc anymore.   Is there something that needs to be updated for this to work or is there a configuration I need to add to my app?

<img width="512" alt="screen shot 2018-07-06 at 11 35 58 am" src="https://user-images.githubusercontent.com/196

[2018-07-23 15:43] alexmiddeleer opened #183 "After recent yarn install, ember project will not build"
This started happening this morning, before any code changes (including to dependencies), but after running yarn. Uninstalling ember-freestyle fixes the build. I suspect one of ember-freestyle's dependencies was updated and the update contained a regression? I am happy to provide any other info if it can help debug the issue. I tried clearing my yarn cache and `rm -rf node_modules` and `tmp`, all

[2018-09-16 05:08] #173 closed

[2018-09-16 05:09] lukemelia commented on #183
I've not been able to reproduce this. Are you still experiencing this issue @alexmiddeleer ?

[2018-09-16 14:59] alexmiddeleer commented on #183
No, it stopped happening - I never had time to debug unfortunately.

[2018-09-16 14:59] #183 closed

[2018-09-18 06:36] Turbo87 opened #186 "Warning: Plugin uses .read/.rebuild API"
After updating to `ember-cli@3.4.2` I've started seeing the following warnings from broccoli, which seem to originate in `ember-freestyle`:

[code]

[2018-10-15 13:29] Turbo87 commented on #186
@lukemelia @chrislopresto it seems like this issue is already resolved on the current `master` branch, but not released yet. are you planning a new release in the near future?

[2018-10-15 16:27] wagenet opened #187 "Release"
There are a few updates that are in the pipe that need to be released. Right now ember-cli 3.5 is showing a warning that would go away with a new release.

[2018-10-15 16:27] wagenet commented on #187
@chrislopresto

[2018-10-16 18:42] jherdman commented on #186
FYI this is causing apps upgrading to 3.5 to crash.

[2018-10-23 08:15] Windvis opened #188 "Make ember freestyle components AngleBracket invocation compatible"
AngleBracket invocation [does not support positional params](https://github.com/emberjs/rfcs/blob/master/text/0311-angle-bracket-invocation.md#positional-arguments).

It looks a bit silly when some components use AngleBrackets and others do not.

[2018-10-23 17:28] NindroidX commented on #188
Looks like using `@slug= / slug=` just works. So maybe just changing the docs is enough?

[code]

[2018-10-31 22:45] Turbo87 commented on #186
@lukemelia @chrislopresto friendly reminder 🙏

[2018-11-06 17:54] wagenet commented on #187
@chrislopresto ping

[2018-11-07 05:55] chrislopresto commented on #187
Sorry for the delay @wagenet et al. v0.10.0 is out the door.

[2018-11-07 05:55] #187 closed

[2018-11-14 09:54] Alonski commented on #186
@Turbo87 I think this can be closed:
https://github.com/chrislopresto/ember-freestyle/blob/362a984613f415aa6f22845292a8c24c15a7ea56/CHANGELOG.md#v0100-2018-11-07

[2018-11-14 09:57] Turbo87 commented on #186
yeah, thanks!

[2018-11-14 09:57] #186 closed

[2019-02-05 00:38] drouhard opened #192 "Menu doesn't clear between different freestyle-guides"
Each `freestyle-section` (and subsection) calls [registerSection](https://github.com/chrislopresto/ember-freestyle/blob/master/addon/services/ember-freestyle.js#L96), adding it to the service's list of menu items. But if you have multiple freestyle guides, the menu items persist between guides.

I'm not sure what the right solution is, but one way to fix this is to reset the service's `menu` prope

[2019-02-21 06:16] techdragon opened #193 "Template loops over freestyle-variations seem to break / not work"
I was unable to build a simple "permutation gallery" using the variations tool and an `each` loop over a simple array. I tried several variations, some of which did nothing others just generated thousands of glimmerVM errors.

It would be good to have a simple example of how to build a freestyle variation component inside of a loop. Freestyle Dynamic is also not what I'm looking for. The simple ex

[2019-05-04 16:56] Turbo87 opened #194 ""Overriden computed property" deprecation warning"
I've started seeing the above deprecation warnings on the freestyle route after upgrading to Ember v3.9

[2019-05-08 10:25] Windvis commented on #188
Using AngleBrackets for the FreestyleUsage component breaks the snippet functionality though.

[This file](https://github.com/chrislopresto/ember-freestyle/blob/b57bff3fdfaa2b02f7c751c4f9e5ecc546e3442c/freestyle-usage-snippet-finder.js#L28) would need more work to make it AngleBrackets compatible.

[2019-05-10 15:37] NoahFisher opened #195 "Add markdown support for tables"
Tables are not currently supported in the markdown.

[2019-05-10 17:38] Vaporbook opened #197 "Releasing the ember-cli-sass change would be awesome"
I noticed that https://github.com/chrislopresto/ember-freestyle/commit/b57bff3fdfaa2b02f7c751c4f9e5ecc546e3442c bumps up to ember-cli-sass@10 and uses dart-sass. But it's not released yet. It would be awesome to get a release of that - we are trying to eliminate node-sass from our build chain. It seems like it may address a few other open issues as well. Thanks!

[2019-05-15 15:27] backspace commented on #170
This appears to have happened in #191!

[2019-07-02 08:59] Alonski opened #199 "[Feature Request] Add Search for components"
Our Style Guide has over 100 components. It takes a long time to render all of them and also to find a specific one that we want to view.

A search feature for the different components would be nice

[2019-08-28 11:29] rafael-paiva opened #213 "domain ember-freestyle.com has expired"
When I try to visit http://ember-freestyle.com/ I see the following error:

[code]

[2019-09-04 20:22] elidupuis commented on #197
Yes please 🙏
I just ran into this while trying to upgrade our app to Node 10.

[code]

And the only reason `node-sass` is in our app is ember-freestyle:

[code]

[2019-09-20 17:51] amyrlam commented on #213
Came to post the thing. Possible to host on GitHub pages, is free?

[2019-10-07 04:43] chrislopresto commented on #195
Thanks for the implementation, @NoahFisher!

[2019-10-07 04:43] #195 closed

[2019-10-07 05:52] chrislopresto commented on #213
Thanks, folks. I just set up everything at https://chrislopresto.github.io/ember-freestyle/

[2019-10-07 05:52] #213 closed

[2019-10-07 05:54] chrislopresto commented on #197
@Vaporbook @elidupuis The 0.11.x releases I just cut have the ember-cli-sass updates. Sorry for the delay!

[2019-10-07 05:54] #197 closed

[2019-10-07 05:55] chrislopresto commented on #170
@tamzinblake @backspace Yup! The 0.11.x releases I just cut include the ember-cli-sass upgrade.

[2019-10-07 05:55] #170 closed

[2019-10-07 05:57] chrislopresto commented on #194
@Turbo87 This should be fixed as of 0.11.3.

[2019-10-07 05:57] #194 closed

[2019-10-07 08:17] ro0gr commented on #213
@chrislopresto there is an old link left on the top of the GH repository main page

[2019-10-08 00:19] chrislopresto commented on #213
@ro0gr I fixed the link at the repository page. Let me know if I missed anything else.

[2019-10-31 13:28] rondale-sc commented on #188
@Windvis I'm running into similar problems.  `@slug=` does the trick, but with Octane / Glimmer Components it doesn't find the co-located templates.

Has anyone run into this with Octane?

[2019-11-01 00:11] chrislopresto commented on #188
@Windvis @rondale-sc I don’t have time to work on this refactor, but I’d be happy to help if someone else takes the lead.

[2019-12-14 19:25] lolmaus commented on #162
Please. `freestyle-dynamic` is hard to figure out from looking at the code.

[2020-01-30 21:28] suzidao commented on #188
@chrislopresto took a whack at it because we want to use this add-on for an oncoming ember-octane project. just opened PR #300

[2020-02-16 22:10] chrislopresto commented on #188
@suzidao I just left a review on #300. Great work so far! After a few tweaks, we'll be good to merge. Let me know if you have any questions.

Thanks!

[2020-03-09 05:40] lukemelia opened #321 "New approach for focusing"
Currently, ember-freestyle supports focusing a component via a `f` query param that is most commonly set by clicking a "focus" icon on a freestyle-usage component. When this query param is set, a usage component is shown if the slug includes the query param value.

The current system has some funky interactions where focusing a usage results in aspects of the styleguide behaving in ways that you w

[2020-04-02 16:28] lukemelia opened #335 "Move away from isVisible for controlling freestyle component visibility"
It is deprecated in ember 3.x

[2020-04-02 16:29] lukemelia commented on #162
Addressed by https://github.com/chrislopresto/ember-freestyle/pull/320

[2020-04-06 06:02] bertdeblock opened #337 "Wrong info in "Compatibility" section?"
Due to the Ember CLI update, the "Compatibility" section was overwritten. I'm not sure if the current info is correct.

[2020-04-06 14:54] #188 closed

[2020-04-06 16:19] lukemelia commented on #337
@bertdeblock we're now testing with Ember/Ember CLI 3.8 and up. Sorry for the confusion. Master should have the correct info now.

[2020-04-06 16:19] #337 closed

[2020-04-06 16:34] lukemelia opened #340 "Proposed New API"
We have some new ideas for the public API for Freestyle that we think will make conceptual and ergonomic improvements for developers. Here's the idea:

## Example of new API usage

[code]
The old component names would deprecated. Here is a list:

* `<FreestyleUsage>` - deprecated, move to <Freestyle::Item>
* `<FreestyleDynamic>` - deprecated, move to <Freestyle::DynamicItem>
* `<FreestyleNote>` -

[2020-04-06 17:40] bertdeblock commented on #337
@lukemelia The support section says: `Ember Freestyle support is only provided for the 2 latest Ember versions`. So shouldn't we be testing against 3.12 and 3.16? Assuming `2 latest Ember versions` means 2 latest LTS versions.

[2020-04-07 15:19] lukemelia commented on #340
Alternate idea for achieving goals of Freestyle::DynamicItem, via @mattmcmanus. Basically, Freestyle::Item would have the ability to include a control panel so you wouldn't need a dedicated component:

[code]

[2020-04-07 15:30] mattmcmanus commented on #340
What @lukemelia mentioned above is a good summary. I have some spikes on this usage pattern that I've been experimenting with in one of our addons. I'm happy to share what I have if that would be helpful.

[2020-04-07 15:36] mattmcmanus commented on #340
Here's another riff using `Usage` instead of `Item`

[code]

[2020-04-09 03:51] lukemelia commented on #61
This would be addressed by #340.

[2020-04-09 03:53] lukemelia commented on #161
This is fixed in #320

[2020-04-09 03:55] lukemelia commented on #340
One detail not specifically called out above... this API would see Freestyle get out of the markdown business -- if you want markdown in your notes, you would be responsible for including your own markdown addon and using it in your notes.

[2020-04-12 08:37] Alonski commented on #199
@lukemelia @chrislopresto Want to chat about this?

[2020-05-21 06:00] lukemelia commented on #177
Fixed by #357

[2020-05-21 06:00] #177 closed

[2020-05-21 06:00] lukemelia commented on #48
No longer relevant after snippets have been removed in #357

[2020-05-21 06:00] #48 closed

[2020-05-21 06:02] lukemelia commented on #61
#357 has simplified this somewhat by removing freestyle-note and consolidating on freestyle-annotation. The real fix will be via #340 though.

[2020-05-27 18:30] lucasmerat opened #367 "Ability to remove the `all` section"
Hi there. We're having some issues with our freestyle where going to the `all` subsection of components is causing errors. In addition, it's super slow to load every component we have. At this point, `/freestyle` takes the user to `all` by default. Is there a way to configure things so that it would take the user to our first subsection of components instead?

[2020-05-28 03:29] lukemelia commented on #367
Hi @lucasmerat,

In order to default to a particular section, you could override the freestyle service like so:

[code]

Suppressing `All` in the menu would require an enhancement to the addon. I imagine a boolean property on the service `menuIncludesAllItem` that defaults to `true`. We would check this property in the freetyle-menu component to determine whether to render the All menu item. We wo

[2020-05-28 15:49] lucasmerat commented on #367
Great! Thanks for the tip. Ill look into opening a PR in the next week or 2.

[2020-06-01 17:19] lukemelia commented on #367
Note: work in progress in #372

[2020-06-02 07:29] lukemelia commented on #340
Now that a [polyfill](https://github.com/ember-polyfills/ember-named-blocks-polyfill) is available for the [Yieldable Named Blocks](https://github.com/emberjs/rfcs/blob/master/text/0460-yieldable-named-blocks.md) feature, I thought it would be worth considering how the proposed API would look using that approach:

[code]

The biggest advantage I see is that the `<Freestyle::Item>` component has co

[2020-06-12 02:44] chrislopresto opened #377 "Scaffold out Freestyle::Usage with support for :example named block"
Make something like this:

[code]

[2020-06-12 02:51] chrislopresto opened #378 "Support Freestyle::Usage component in AST transform"
Improve AST transform to handle Freestyle::Usage :example named block. In other words, support live code preview in the example here:

[code]

[2020-06-12 02:52] chrislopresto opened #379 "Add control panel to specify example component properties in Freestyle::Usage"

[2020-06-12 03:25] lukemelia commented on #340
FYI: Exploration is continuing in the lc/better-api branch: https://github.com/chrislopresto/ember-freestyle/blob/lc/better-api/doc/API-DESIGN.md

[2020-06-12 03:27] lukemelia commented on #377
Scaffolded in #380

[2021-01-29 03:45] lukemelia commented on #378
Implemented in #457

[2021-01-29 03:45] lukemelia commented on #379
Implemented in #457

[2021-01-29 03:46] lukemelia commented on #377
Implemented in #457

[2021-02-04 15:36] #377 closed

[2021-02-04 15:36] #378 closed

[2021-02-04 15:37] #379 closed

[2021-02-16 12:32] lukemelia opened #481 "Source parsing does not work properly when used in an Ember Addon alongside ember-named-blocks-polyfill"
![image](https://user-images.githubusercontent.com/353/108063331-023eaf80-7096-11eb-962d-69d943678b5e.png)

[2021-02-17 06:55] #481 closed

[2021-03-03 01:29] lukemelia opened #496 "Move tests to use qunit-dom (away from page objects)"
The page object patterns imposes undue demands on OSS contributors who are unfamiliar with ember-freestyle. qunit-dom is more standard and more easily understandable.

[2021-03-13 08:12] bertdeblock opened #512 "Remove "freestyle" controller app re-export?"
Running `ember install ember-freestyle` already adds a `freestyle` controller to the user's project making the app re-export unnecessary. Personally, I always use `style-guide` as the name for my style-guide route, which means I will have both a `freestyle` and a `style-guide` controller in my app. I also think it's clearer to always have the user define the controller.
I wanted to PR this, but I

[2021-03-20 16:40] lukemelia commented on #512
Perhaps we should make it a generator with a `--name` option and make `ember install ember-freestyle` emit console output making the user aware of the option to run the generator?

[2021-03-23 21:24] bertdeblock commented on #512
So the default blueprint would not add the files anymore and instead the user should explicitly run a separate command which allows you to specify the route name? Sounds like a good idea.

https://github.com/chrislopresto/ember-freestyle/issues/33 Seems related btw.

[2021-03-24 15:57] lukemelia commented on #512
Correct.

Getting to close a 2016 issue would be a nice bonus!

[2021-03-24 21:29] bertdeblock opened #525 "Update blueprint controller and template files"
Controller:
- Fails when running `yarn lint:js` (Prettier)
- Contains an outdated Ember.Component example, best to use native classes I think

Template:
- I would use double quotes everywhere as I assume most of the community uses double quotes?

[2021-03-25 07:40] bertdeblock commented on #525
Related question on Discord:
https://discord.com/channels/480462759797063690/480501885837770763/824547522890563615

[2021-03-28 10:31] #525 closed

[2021-03-29 17:20] lukemelia commented on #340
Update, the latest releases include `<Freestyle::Usage>`, which make some of the ideas in this thread a reality.

[2021-03-31 21:39] sepuckett86 opened #531 "Style loading issues with freestyle page snapshot using @percy/ember"
I'm seeing this frequently (every other PR or so) as a Percy test failure (see image below).

There appears to be an issue with loading the font style completely before the snapshot is taken, causing the diffs.

Also, the backgrounds for the code snippets should be a dark color. This loads loads fine in our app, just not in the Percy snapshot.

So far I've tried adding test helpers like 'settled'

[2021-04-01 07:48] lukemelia commented on #531
@scanieso I don't have any experience troubleshooting this particular issue, but looking at your image, it makes me wonder if the text is being styled using a webfont, and that the timing of the font loading might be a culprit?

[2021-04-01 13:25] scanieso commented on #531
Hey @lukemelia ! I think you meant to tag @sepuckett86 :)

[2021-04-01 13:26] lukemelia commented on #531
Whoops, thanks @scanieso -- sorry for the errant notification! :-)

[2021-04-01 14:58] sepuckett86 commented on #531
@lukemelia Thanks for the response! I'll look into the font loading.

[2021-08-06 13:16] bertdeblock opened #582 "`ember-canary` scenario fails"
I noticed that the `ember-canary` scenario is failing for some pull requests ([1](https://github.com/chrislopresto/ember-freestyle/pull/576) & [2](https://github.com/chrislopresto/ember-freestyle/pull/577)).
The errors seem unrelated to the changes in those pull requests.

It seems the underlying issue is that, for instance, the `freestyle-dynamic` component is mutating one of its arguments:
- htt

[2021-09-21 08:57] bertdeblock opened #585 "Drop support for Node.js v10"

[2021-09-25 07:14] bertdeblock opened #591 "Remove `pick` helper?"
[ember-composable-helpers](https://github.com/DockYard/ember-composable-helpers) also provides a [pick](https://github.com/DockYard/ember-composable-helpers#pick) helper. In fact, the implementation is copy pasted from that one. Since `ember-composable-helpers` is quite a popular addon, it's not unrealistic that `ember-freestyle` users also make use of `ember-composable-helpers`. This makes it unc

[2021-09-25 07:21] bertdeblock commented on #591
I have similar thoughts about the `is-present` helper in `ember-freestyle`. The name is very generic, so it's possible for a consuming app to have a helper with the same name, meaning `ember-freestyle` might end up using an `is-present` helper with a different implementation (as the helper in the consuming app wins). The components where this helper is used both have a backing class, so we can eas

[2021-09-25 07:21] bertdeblock commented on #591
@lukemelia Any thoughts?

[2021-09-27 18:08] bertdeblock commented on #367
Closing since #372 was merged and released in v0.12.8.

[2021-09-27 18:08] #367 closed

[2021-09-27 20:00] lukemelia commented on #591
I'm with you. Approved the PR.

[2021-09-30 12:38] bertdeblock commented on #582
Fixed in #594. Mutating arguments should be resolved once we migrate to Glimmer components. Tried to resolve it sooner, but apparently it's needed for making the test suite pass.

[2021-09-30 12:38] #582 closed

[2021-09-30 12:40] bertdeblock opened #595 "Revert allowing the `ember-beta` scenario to fail"
Reminder to revert https://github.com/chrislopresto/ember-freestyle/pull/594/commits/f25a8df757bfd8382f64265b523d5a092ec02b09.

[2021-09-30 12:42] #591 closed

[2021-09-30 15:20] bertdeblock opened #599 "Test against Embroider"
I think we need to finish #496 first. Last time I ran the Embroider tests, it seemed like `ember-cli-page-object` was making the tests fail.

[2021-09-30 15:56] bertdeblock opened #601 "Remove the use of `ember-cli-sass-lint`"
`ember-cli-sass-lint` is outdated / unmaintained.
We could switch to using e.g. `stylelint`, add a `lint:css` script and run that in CI similar to `lint:js` and `lint:hbs`.

[2021-09-30 21:26] lukemelia commented on #601
Sounds like a plan/

[2021-10-09 16:18] bertdeblock opened #608 "Deprecate `FreestyleShowdownContent` component"
And suggest users to implement their own markdown component when needed.

[2021-10-10 13:01] bertdeblock commented on #92
:wave: Going through some old issues here.

I tested the current version of `ember-freestyle` with the current version of `ember-cli-fastboot` and everything works fine. That warning is definitely [coming from ember-cli-staticboot](https://github.com/robwebdev/ember-cli-staticboot/blob/cc172859f16e56d8893b5f09d1ff952e646bd57e/addon/components/link-to.js#L10-L13).

Closing for now. Let me know if a

[2021-10-10 13:01] #92 closed

[2021-10-10 13:08] bertdeblock opened #613 "Remove `freestyle-note` component from `app` folder"
Support for this component has been removed for a while now (it's still included, but it throws a useful error as a courtesy). I think we can simply remove the component now.

[2021-10-10 13:16] bertdeblock commented on #55
I have been using `ember-freestyle` for a while and I have never noticed this issue. Since the issue is quite old, I'm going to close for now, but please reopen if this is still an issue!

[2021-10-10 13:27] bertdeblock commented on #156
👋 Going through some old issues.

We've also had a similar challenge at our company and the way we've solved it is to have a separate addon that includes all UI components and the style guide itself. The dummy app of the addon renders the style guide and can easily be deployed separately.

Hope this helps!

Going to close for now if that's okay as this is more of question and not something `ember-

[2021-10-10 22:25] #585 closed

[2021-10-10 22:26] #608 closed

[2021-10-11 07:59] bertdeblock opened #616 "Update `ember-auto-import`"
And document the needed steps for our users:
https://github.com/ef4/ember-auto-import#usage-from-addons

[2021-10-12 04:39] techdragon commented on #193
It's been a very long time, it's entirely possible some underlying bug has been fixed in the interim. I haven't been using ember for over 12months as well. So at this point it's probably best to consider this more of a friendly request for documentation than a bug report.

[2021-10-15 18:33] bertdeblock opened #639 "Remove resolutions / unpin dependencies"
- [x] `ember-cli-deploy-git/ember-cli-babel`
- [x] `ember-cli-page-object`
- [x] `socket.io`

These were pinned in #625 and should be unpinned at some point.

[2021-10-15 19:24] #595 closed

[2021-10-16 07:12] bertdeblock commented on #496
TODO:

- [ ] Remove use of `freestyle-dynamic` page object
- [ ] Remove use of `freestyle-guide` page object
- [ ] Remove use of `usage-component` page object

Will create a PR per page object.

[2021-10-16 10:53] bertdeblock commented on #172
Is this still an issue now that `node-sass` isn't used anymore?

[2021-10-18 15:55] #599 closed

[2021-10-18 17:07] lukemelia commented on #335
I think we have gotten rid of this.

[2021-10-18 18:25] #639 closed

[2021-10-19 07:25] bertdeblock opened #650 "Use `exclude` option instead of `blacklist` option in README once available"
This option was added in https://github.com/ember-cli/ember-cli/pull/9595 and will be released in Ember CLI v4.

[2021-10-20 06:36] bertdeblock opened #653 "Migrate to Glimmer components"
- [ ] `FreestyleAnnotation`
- [ ] `FreestyleCollection`
- [ ] `FreestyleDynamic` (or deprecate in favour of `Freestyle::Usage`?)
- [ ] `FreestyleDynamicInput` (or deprecate in favour of `Freestyle::Usage`?)
- [ ] `FreestyleDynamicInputSelectOption` (or deprecate in favour of `Freestyle::Usage`?)
- [ ] `FreestylePalette`
- [ ] `FreestylePaletteItem`
- [ ] `FreestyleSource`
- [ ] `FreestyleTypeface`

[2021-10-31 23:26] #143 closed

[2021-10-31 23:26] #172 closed

[2021-11-22 07:40] bertdeblock commented on #172
@patrickberkeley FYI, `ember-cli-sass` and `sass` are ditched in `v0.13.2`.

[2021-11-22 07:41] bertdeblock commented on #143
👋 `ember-cli-sass` and `sass` are ditched in `v0.13.2`, so normally, this shouldn't be an issue anymore.

[2021-11-22 15:14] patrickberkeley commented on #172
Thanks @bertdeblock ! We've been following your work here, and have a ticket to upgrade and remove sass.

[2022-02-28 08:57] bertdeblock opened #725 "Don't publish `.husky` folder"

[2022-03-05 06:04] #725 closed

[2022-03-07 14:11] #616 closed

[2022-08-25 21:49] lukemelia opened #824 "Add support for glint"
See https://typed-ember.gitbook.io/glint/using-glint/ember/authoring-addons

[2022-08-25 21:50] lukemelia opened #825 "Migrate to V2 addon"
The hardest part will be figuring out how to support the functionality provided by our AST transform

[2022-09-06 10:35] bertdeblock commented on #531
Going to close this one for now due to no response, feel free to reopen if this is still an issue though!

[2022-09-06 10:35] #531 closed

[2022-09-09 17:43] #650 closed

[2022-09-12 20:48] lukemelia commented on #824
We'll need to figure out if/how to preserve the AST transform functionality in this scenario.

[2022-09-22 08:15] bertdeblock opened #848 "UI / UX Improvements"
I think we can make some minor adjustments to improve the look and feel of the default style guide:

- [x] Remove the uppercase transform for navigation menu items, I feel that uppercase words are harder to read and normal case just looks calmer overall https://github.com/chrislopresto/ember-freestyle/pull/973
- [ ] Introduce a visual difference between navigation menu headers and items, other tha

[2022-09-22 11:17] #653 closed

[2022-09-22 11:31] lukemelia commented on #825
This issue should be resolved to let us remove the `allowedToFail: true` declaration for ember-lts-3.24.

[2022-09-22 11:32] #824 closed

[2022-09-22 11:33] lukemelia commented on #848
I like these suggestions 👍

[2022-09-27 13:11] bertdeblock opened #855 "Remove use of `EmptyObject` type"
Taken from Glint's docs:

- If no `Args` key is specified, it will be a type error to pass any arguments to your component.
- If no `Blocks` key is specified, it will be a type error to invoke your component in block form.

Which means we can simply omit `Args` and `Blocks` instead of using the `EmptyObject` type.

Also, it seems that the `EmptyObject` type is private:
https://github.com/Definitel

[2022-10-06 15:28] lukemelia opened #862 "Add optional Freestyle::Usage section to document/explore CSS variables"
CSS Variables can form a useful part of the public API of a component. Here is a mockup for how Freestyle could help you document and explore those variables:

![image](https://user-images.githubusercontent.com/353/194354451-512f4061-930b-4e69-b234-1c527d782189.png)

[2022-10-18 17:32] #862 closed